nav{
background-color:beige;
top: auto
}
#img{ float: right;
}
#p{padding: 150px;
}

#doll{ margin: 80px;text-transform: lowercase;
text-align:lift
;font-weight: bold;font-size: 25px;
}


